<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="chat">
    <meta name="author" content="y-fujiwara"> 
    <!-- Compiled and minified CSS --> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <title>FluxChat</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container"> 
    <!--
      <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu"> 
          <a class="active item">Home</a> 
          <a class="item">Messages</a> 
          <a class="item" href="http://www.phoenixframework.org/docs">Get Started</a>
        </div> 
      </div>
      -->
      <div class="ui inverted menu">
        <div class="item">
          Flux Chat
        </div>
        <div class="right item">
          <%= if @current_user do %>
            <%= link "Log out", to: session_path(@conn, :delete), method: "delete" %>
          <% end %> 
        </div>
      </div>

      <%= if get_flash(@conn, :info) do %>
        <div class="ui positive message">
          <i class="close icon"></i>
          <div class="header">
            <%= get_flash(@conn, :info) %><
          </div>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            <%= get_flash(@conn, :error) %>
          </div>
        </div>
      <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
