<h2>Show User</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Showname:</strong>
    <%= @user.showname %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Avatar:</strong>
    <%= @user.avatar %>
  </li>

  <li>
    <strong>Is delete:</strong>
    <%= @user.is_delete %>
  </li>

  <li>
    <strong>Is auth:</strong>
    <%= @user.is_auth %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
