
<div class="ui middle aligned center aligned grid" id="login-container">
  <div class="column"> 
    <h2 class="ui teal image header">
      <!-- <img src="assets/images/logo.png" class="image"> -->
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <%= form_for @conn, session_path(@conn, :create), [as: :session, class: "ui huge form"], fn f-> %>
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i> 
            <%= text_input f, :username, placeholder: "Username", class: "ui huge form-control" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i> 
            <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
          </div>
        </div> 
        <%= submit "Log in", class: "ui fluid huge teal submit button" %>
      </div>
      <div class="ui error message"></div>
    <% end %>
    <div class="ui message">
      New to us? <a href="https://s.codepen.io/voltron2112/debug/PqrEPM?">Register</a>
    </div>
  </div>
</div>

<style>
  .column {
    max-width: 450px;
  }
  #login-container {
    height: 100%;
  }
</style>