$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
.ui.sidebar {
  position: relative;
}


/* Space out content a bit */

html,
body {
  font-size: 0.8em;
}

ul,
table {
  margin-bottom: 20px;
}

form {
  margin-bottom: 3px;
}

* {
  -webkit-appearance: none;
}

html,
body,
.container,
.chat {
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  padding-top: 41px;
}

.container {
  padding: 0px;
  max-width: none;
  display: flex;
  flex-direction: column;
}


/* Phoenix flash messages */

.alert:empty {
  display: none;
}


/* Phoenix inline forms in links and buttons */

form.link,
form.button {
  display: inline;
}


/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  width: 519px;
  height: 100%;
  display: inline-block;
  background-image: url("/images/phoenix.png");
  background-size: 100% 100%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing {}


/* Customize container */

.container-narrow>hr {
  margin: 30px 0;
}


/* Main marketing message */

main,
#chat {
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}


/* Supporting marketing content */

.marketing {
  margin: 35px 0;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/**
 * This file is provided by Facebook for testing and evaluation purposes
 * only. Facebook reserves all rights not expressly granted.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * FACEBOOK BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. flex;
 */

.chatapp {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.message-list,
.thread-list {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

div.ui.comments.message-list {
  flex-grow: 1;
  max-width: initial;
}

.message-section {
  width: 100%;
  height: 100%;
  margin: 0px 3px 0px 3px;
  display: flex;
  flex-direction: column;
}

.thread-section {
  float: left;
  width: 32.5%;
}

.message-thread-heading,
.thread-count {
  height: 40px;
  margin: 0;
}

h3.message-thread-heading {
  margin-top: 10px;
}

.message-list-item,
.thread-list-item {
  list-style: none;
  padding: 12px 14px 14px;
}

.thread-list-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.thread-list:hover .thread-list-item:hover {
  background-color: #f8f8ff;
}

.thread-list:hover .thread-list-item {
  background-color: #fff;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
  background-color: #efefff;
  cursor: default;
}

.message-author-name,
.thread-name {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.message-time,
.thread-time {
  color: #aad;
  float: right;
  font-size: 12px;
}

.message-text,
.thread-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}

.message-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  height: 5em;
  width: 100%;
  margin: 20px 0 0;
  padding: 10px;
}

.large.text {
  font-size: 2rem;
}

.ui.menu {
  border-radius: 0px;
  margin: 0px;
  z-index: 1;
}